<p>mostrarcursostotal works!</p>
<h1>lista cursos total</h1>
<p1><list mostrarcursostotal> 
    <div class="grid grid-cols-4">
        <article class="p-4" *ngFor="let item of lista; let indice = index">
            <p class="text-center font-bold text-sm">{{curso.nombre}}</p>
        </article>
    </div>
</list> </p1>