<p>mostrarcursosestudiante works!</p>
<input type="number" name="correo" id="correo" [(ngModel)]="correo">
<input type="password" name="clave" id="clave" [(ngModel)]="clave">
<button type="button" (click)="autenticarEstudiante()">Verificar</button>
<section *ngFor="let item of estudiantes; let indice = index">
    <p>{{item.correo}}</p>
    <p>{{item.estudiante.clave}}</p>
    <img [src]="item.urlImagen">
</section>